<header>
    <h1 id="header">Burger Bucket List</h1>
    <br>

    <h2 class="sub-header">Try all of them!</h2>
    <br>
    
</header>

<div class="container">

    <div class="row">
        <h1 class="sub-header">Burgers</h1>
    </div>
    <div class="card col-md-5">
        <h3 class="card-title sub-header" id="not-devoured">Available</h3>
        <div class="card-body">
            <ul>
                <li>
                    {{#each burger}}
                    {{#unless devoured}}
                    <p>
                        {{burger_name}}
                    </p>
                    <button type="button" class="devour" data-id="{{id}}">Devour</button>
                    {{/unless}}
                    {{/each}}

                    {{!-- <button id="delete-burger" data-id="{{this.id}}">DELETE!</button> --}}
                </li>
            </ul>
        </div>
    </div>
    <div class="card col-md-5 devoured">
        <h3 class="card-title sub-header" id="devoured">Devoured</h3>
        <div class="card-body">
            <ul>
                {{#each burger}}
                {{#if devoured}}
                <p>
                    {{burger_name}}
                </p>
                <button type="submit">Make Another</button>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>

    {{!-- Add Your Burger Here --}}
    <div class="sub-header">Add Your Own Burger Here!</div>
    <form id="burgers">
        <div class="form-group">
            <input type="text" class="form-control" id="name" placeholder="Add Your Burger!">
        </div>
        <button type="submit">submit</button>
    </form>
</div>